venv/
.vault_password
wireguard/files/
hosts
notes.txt
certbot/certbot/credentials.ini
vars/main.yml
test.*
test/
prometheus/files/*.crt
prometheus/files/*.key
rclone/files/rclone.conf
lxc/files/.env-lxc-backups
vars/bdix.main.yml
bdix.yml
update2.yml

/inventory
/roles/**/files/scratchpad
.DS_Store
.python-version
.idea/
.direnv/

# ignore roles pulled by ansible-galaxy
/roles/galaxy/*
!/roles/galaxy/.gitkeep